*{
    margin:0;
    padding:0;
}

body{
    width: 1920px;
}

a:visited{
    color: black;
}
.atoblog{
    color: white;
}



.divmain{
    width:100%;
    height: auto;
    position: relative;
}

.divheader{
    width: 100%;
    height: auto;
    position: fixed;
    top:0;
    z-index: 1000;
    background-color: white;
}

.divo{
    position: relative;
    height: auto;
}

.divt{
    display: inline-block;
    position: relative;
}

.divul{
    color: black;
    display: inline-block;
    position: relative;
    float: right;
    top:20px;

}
.llcol{
    color:#06A6EF;
}

.liheader{
    float: left;
    font-weight: 800;
}

.h2header{
    color:black;
    display: inline-block;
    font-size: 30px;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;

}

.ulheader{
    list-style-type: none;

}

.btnlogin{
    height: 35px;
    width: 80px;
    margin-top: -10px;
    background-color: transparent;
    color: black;
    border:  1px solid;
}

.btnup{
    height: 35px;
    width: 80px;
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #06A6EF;
    border: #06A6EF 1px solid;
    background-color: transparent;
}

.divhead{
    width: 100%;
    height:auto;
    margin-top: 100px;
    text-align: center;
}

.headh1{
    font-size: 48px;
}

.atoprice{
    #1EB7FC
}

.bv{
    color: #0099FF;
    font-weight: 400;
}

.headh3{
    color:grey;
}

.divpaice{
    width: 100%;
    height:auto;
    display: inline-block;
    text-align: center;
    position: relative;
    margin-top: 100px;
}

.divfree{
    width:406px;
    height:908px;
    display: inline-block;
    position: relative;
    border: 1px solid silver;
    margin-right: 5px;
    top: -285px;
}

.div1{
    width: 400px;
    height: 120px;
    background-color: #F8F8F8;
    position: relative;

}

.div1_1{
    width: 406px;
    height: auto;
    position: relative;
    top:30px;
}

.h401{
    font-size: 26px;
    margin:0;
}

.p01{
    color:#9E8080;
}

.div2{
    height: 260px;
    position: relative;
    border-bottom: 1px solid silver;
}

.div2_1{
    font-size: 60px;
    position: relative;
    margin-top: 50px;
}

.div2_2{
    position: relative;
}

.a_01{
    color: #1EB7FC;
    border: 1px solid #1EB7FC;
    font-weight: 600;
    padding: 14px 35px;
    border-radius: 6px;
    position: relative;
    top:40px;
}

.div3_1{
    position: relative;
    margin: 0 auto;
}

.ul_1{
    font-size: 14px;
    line-height: 20px;
    margin: 16px 0;
    padding-left: 13px;
    text-align: center;
    list-style-type: disc;
    margin-left: 90px;
    margin-top: 50px;
}

.li_1{
    text-align: left;
    margin-top: 10px;
}

.divnotfree{
    width:406px;
    height:908px;
    display: inline-block;
    border: 1px solid #1EB7FC;
    margin-left: 5px;
}

.div4{
    width: 404px;
    height: 120px;
    background-color: #5EBAF6;
    position: relative;
}

.div5{
    height: 260px;
    position: relative;
    border-bottom: 1px solid silver;
}

.b_1{
    font-size: 8px;
    font-weight: 400;
    color: silver;
}

.h402{
    font-size: 26px;
    margin:0;
    color: white;
}

.p02{
    color:#9E8080;
    color: white;
}

.p3{
    color: #1EB7FC;
    margin-left: -75px;
}

.div6{
    border-bottom: 1px solid silver;
    height: 400px;
}

.div7{
    position: relative;
}

.a3{
    position: relative;
    top:28px;
    font-weight: 400;
    font-size: 18px;
}

.divqiye{
    width: 100%;
    height: auto;
    background: #F4F4F4;
    position: relative;
    margin-top: -150px;
}

.divxinren{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 50px;
}

.h102{
    text-align: center;
    color: #1EB7FC;
}

.row_1{
    text-align: center;
    width: 100%;
    height: auto;
    display: block;

}

.r1_1{
    width: 126px;
    height: 67.8px;
    display: inline-block;
    background-image: url(https://dn-st.teambition.net/site/v2.0.0/images/prices/img-1.png);
    background-size: cover;
    margin: 0 15px;
  }

.r1_2{
    width: 126px;
    height: 67.8px;
    display: inline-block;
    background-image: url(https://dn-st.teambition.net/site/v2.0.0/images/prices/img-2.png);
    background-size: cover;
    margin: 0 15px;
}

.r1_3{
    width: 126px;
    height: 67.8px;
    display: inline-block;
    background-image: url(https://dn-st.teambition.net/site/v2.0.0/images/prices/img-3.png);
    background-size: cover;
    margin: 0 15px;
}

.r1_4{
    width: 126px;
    height: 67.8px;
    display: inline-block;
    background-image: url(https://dn-st.teambition.net/site/v2.0.0/images/prices/img-4.png);
    background-size: cover;
    margin: 0 15px;
}

.r1_5{
    width: 126px;
    height: 67.8px;
    display: inline-block;
    background-image: url(https://dn-st.teambition.net/site/v2.0.0/images/prices/img-5.png);
    background-size: cover;
    margin: 0 15px;
}

.row_2{
    text-align: center;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 5px;

}

.r2_1{
    width: 126px;
    height: 67.8px;
    display: inline-block;
    background-image: url(https://dn-st.teambition.net/site/v2.0.0/images/prices/img-6.png);
    background-size: cover;
    margin: 0 15px;
}

.r2_2{
    width: 126px;
    height: 67.8px;
    display: inline-block;
    background-image: url(https://dn-st.teambition.net/site/v2.0.0/images/prices/img-7.png);
    background-size: cover;
    margin: 0 15px;
}

.r2_3{
    width: 126px;
    height: 67.8px;
    display: inline-block;
    background-image: url(https://dn-st.teambition.net/site/v2.0.0/images/prices/img-8.png);
    background-size: cover;
    margin: 0 15px;
}

.r2_4{
    width: 126px;
    height: 67.8px;
    display: inline-block;
    background-image: url(https://dn-st.teambition.net/site/v2.0.0/images/prices/img-9.png);
    background-size: cover;
    margin: 0 15px;
}

.r2_5{
    width: 126px;
    height: 67.8px;
    display: inline-block;
    background-image: url(https://dn-st.teambition.net/site/v2.0.0/images/prices/img-10.png);
    background-size: cover;
    margin: 0 15px;
}

.divtry{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color:  #1EB7FC;
    position: relative;
}

.divh{
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    top:30px;
}

.h103{
    margin-top: 20px;
    color: white;
    font-size: 30px;
}

.a4{
    color: white;
    text-decoration: underline;
}

.a4:hover{
    color: white;
}

.divsup{
    width: 100%;
    height: auto;
    background-color: #F4F4F4;
    position: relative;
}

.divh2{
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    padding-top: 50px;
}

.divphone{
    width: 100%;
    height: auto;
    text-align: center;
}

.p4{
    margin-top: 50px;
    color: grey;
    font-size: 26px;
}

.divemail{
    width: 100%;
    height: auto;
    text-align: center;
}

.asup{
    color: #03A9F4;
    font-size: 26px;
}

.divbtn{
    width: 100%;
    height: auto;
    text-align: center;
    margin:50px 0;
}

.btnfree{
    padding:14px 33px;
    line-height: 22px;
    border-radius: 6px;
    font-size:18px;
    background: #03A9F4;
    border: 1px solid #03A9F4;
    margin-right: 5px;
}
.btnbuy{
    padding:14px 33px;
    line-height: 22px;
    border-radius: 6px;
    font-size:18px;
    background: #03A9F4;
    border: 1px solid #03A9F4;
    margin-left: 5px;
}

.divbottom{
    width: 100%;
    height: auto;
    background: seagreen;
}

.divbotul{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 20px;
    background: #333333;
}

.ulbot{
    list-style-type: none;
    display: inline-block;
    margin-left: 4rem;
    margin-top: 30px;
}

.libot{
    font-size: 18px;
    text-align: left;
}

.left{
    text-align: left;
    line-height: 1rem;
}

.a01{
    color: white;
}

.a02{
    color: #777;
}

.footer{
    width: 100%;
    height:70px;
    background: black;
    position: relative;
    text-align: center;
}

.divtext{
    position: relative;
    top: 0px;
    color: #a6a6a6;
    display: inline-block;
    margin-left: 80px;

}

.divimgbot{
    position: relative;
    width: 420px;
    height: 70px;
    display: inline-block;
    top:-3px;
    margin-left: 250px;


}

.abot{
    color: #a6a6a6;
}































