*{
    margin:0;
    padding:0;
}

body{
    width: 1920px;
}

a:visited{
    color: black;
}

.divmain{
    width:100%;
    height: auto;
    position: relative;
}

.divheader{
    width: 100%;
    height: auto;
    position: fixed;
    top:0;
    z-index: 1000;
    background-color: white;
}

.divt{
    display: inline-block;
    position: relative;
}

.divul{
    color: black;
    display: inline-block;
    position: relative;
    float: right;
    top:20px;

}

.btnlogin{
    height: 35px;
    width: 80px;
    margin-top: -10px;
    background-color: transparent;
    color: black;
    border:  1px solid;
}

.btnup{
    height: 35px;
    width: 80px;
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #06A6EF;
    border: #06A6EF 1px solid;
    background-color: transparent;
}

.buse{
    color:#0099FF;
}

.atoprice{
    color: black;
}

.atoblog{
    color: #0099FF;
}

.bv{
    font-weight: 400;
    color: #0099FF;
}

.liheader{
    float: left;
    font-weight: 800;
}

.h2header{
    color:black;
    display: inline-block;
    font-size: 30px;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;

}

.ulheader{
    list-style-type: none;

}

.divh1{
    width: 100%;
    height: auto;
    text-align: center;
}

.h1_1{
    font-size: 58px;
    margin-bottom: 44px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.divp{
    width: 100%;
    height: auto;
    text-align: center;

}

.p_1{
    max-width: 855px;
    text-align: center;
    font-size: 18px;
    line-height: 1.66;
    margin: 0 auto;
}

.divimg{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 50px;
    background: #EEEEEE;
    position: relative;
}

.img_1{
    max-width: 1044px;
    margin-top: 30px;
}

.p_2{
    margin-bottom: 15px;
    color: black;
    font-size: 18px;
    line-height: 1.66;
    margin-top: 30px;
}

.a_1{
    background: #03A9F4;
    border: 1px solid #03A9F4;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 20px;
    padding: 20px 70px;
    border-radius: 10px;
}

.div2{
    text-align: center;
}

.h1_2{
    font-size: 36px;
    margin-bottom: 30px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 40px;
}

.p_2{
    max-width: 690px;
    text-align: center;
    font-size: 18px;
    line-height: 1.66;
    margin: 0 auto;
    color: grey;
}

.div3{
    text-align: center;
    margin-top: 80px;
    background: #EEEEEE;
}

.div4{
    text-align: center;
    margin-top: 80px;
}

.div5{
    text-align: center;
    margin-top: 80px;
    background: #EEEEEE;
}

.divL1{
    width: 100%;
    height: 680px;
    position: relative;
    display: inline-block;
    text-align: center;
    background: #EEEEEE;
}

.Lp{
    width: auto;
    height: auto;
    display: inline;
    text-align: center;
    position: absolute;
    left:430px;
    top:80px;
}

.pL1{
    max-width: 360px;
    padding-top: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 1.66;
}

.divimgL1{
    width: 100%;
    height: auto;
    position: relative;
    display: inline;
    position: absolute;
    left: 330px;
    top:100px;
    z-index: 1;
}

.divimgtop{
    width: 100%;
    height: auto;
    position: relative;
    display: inline;
    position: absolute;
    z-index: 2;
    left: -550px;
    top:150px;
}

.imgL1{
    max-width: 950px;
}

.imgL2{
    vertical-align: middle;
    max-width: 430px;
}

.divL2{
    width: 100%;
    height: 680px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.div6{
    width: 100%;
    max-height: 680px;
    background: url(https://dn-st.teambition.net/site/v2.0.0/images/tour/j-bg.png);
    text-align: center;
    background-size: cover;
}

.divp{
    width: 100%;
    height: auto;
    text-align: center;
    display: inline-block;
}

.p_3{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 18px;
    line-height: 1.66;
    padding: 20px;
    display: inline-block;
}

.diva{
    width: 100%;
    height: auto;
    text-align: center;
    display: inline-block;
    margin-top: -300px;
}

.a_2{
    color: white;
    display: inline-block;
    font-size: 18px;
    line-height: 1.66;
    margin-top: -50px;
}

.divimg_2{
    width: 100%;
    height: auto;
    text-align: center;
    display: inline-block;
    margin-top: -100px;
}

.img_2{
    max-width: 985px;
}

.divL3{
    width: 100%;
    height: 680px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.divL4{
    width: 100%;
    height: 600px;
    position: relative;
    display: inline-block;
    text-align: center;
    background: #B1B0B4;
    margin-top: 30px;
}

.divfoot{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 100px;
}

.divimg_3{
    width: 100%;
    height: auto;
    text-align: center;
}

.img_3{
    max-width: 248px;
}

.divp{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 50px;
}

.p_4{
    font-size: 18px;
    line-height: 1.66;
}

.diva{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.a_3{
    font-size: 18px;
    border: 1px solid #03A9F4;
    background: #03A9F4;
    color: white;
    padding: 20px 50px;
    border-radius: 10px;
}






















.divbottom{
    width: 100%;
    height: auto;
    background: seagreen;
}

.divbotul{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 20px;
    background: #333333;
}

.ulbot{
    list-style-type: none;
    display: inline-block;
    margin-left: 4rem;
    margin-top: 30px;
}

.libot{
    font-size: 18px;
    text-align: left;
}

.left{
    text-align: left;
    line-height: 1rem;
}

.a01{
    color: white;
}

.a02{
    color: #777;
}

.footer{
    width: 100%;
    height:70px;
    background: black;
    position: relative;
    text-align: center;
}

.divtext{
    position: relative;
    top: 0px;
    color: #a6a6a6;
    display: inline-block;
    margin-left: 80px;

}

.divimgbot{
    position: relative;
    width: 420px;
    height: 70px;
    display: inline-block;
    top:-3px;
    margin-left: 250px;


}

.abot{
    color: #a6a6a6;
}































